name: .NET Core

on:
  push:
    branches: [ master ]
    tags: [ v* ]
  pull_request:
    branches: [ master ]

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: "true"
  DOTNET_NOLOGO: "true"
  NUGET_XMLDOC_MODE: skip
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

jobs:
  test:
    strategy:
      matrix:
        os: [macos-latest]
        dotnet-version: [5.0.100]
        node-version: [12]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v1
        with:
          path: ${{ env.NUGET_PACKAGES }}
          key: nuget-${{ runner.os }}-${{ hashFiles('**/*.fsproj', '**/paket.lock') }}
          restore-keys: |
            nuget-${{ runner.os }}-

      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Run test script
        run: dotnet fsi ./test.fsx

  publish:
    if: contains(github.ref, 'tags/v')
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v1
        with:
          path: ${{ env.NUGET_PACKAGES }}
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.201

      - name: Run publish script
        run: 'dotnet fsi ./publish.fsx --version ${GITHUB_REF##*/v} --project-url ${{ github.event.repository.html_url }} --key ${{ secrets.NUGET_OLG_API_KEY }}'
